repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files # prevents adding large files
      - id: detect-private-key # detects private keys
      - id: fix-byte-order-marker # fixes BOM
      - id: fix-encoding-pragma # fixes encoding pragma
      - id: no-commit-to-branch # prevents committing to protected branches
      - id: trailing-whitespace # prevents trailing whitespace
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0
    hooks:
      - id: black
        language_version: python3.9
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
