repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: check-added-large-files # prevents adding large files
    - id: detect-private-key # detects private keys
    - id: fix-byte-order-marker # fixes BOM
    - id: fix-encoding-pragma # fixes encoding pragma
    - id: no-commit-to-branch # prevents committing to protected branches
    - id: trailing-whitespace # prevents trailing whitespace
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
        language_version: python3.9
        exclude: 'pipelines\/\{\{cookiecutter\.project_name\}\}.*'
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    - id: flake8
