[tool.poetry]
name = "pipelines"
version = "0.1.0"
description = ""
authors = ["Gabriel Gazola Milan <gabriel.gazola@poli.ufrj.br>"]
license = "GPL-3.0"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.11"
pandas = "1.2.4"
numpy = "1.21.4"
requests = "2.26.0"
prefect = "0.15.9"
basedosdados = "1.6.0"
cachetools = "4.2.4"
certifi = "2021.10.8"
charset-normalizer = "2.0.8"
ckanapi = "4.6"
click = "8.0.3"
cloudpickle = "2.0.0"
croniter = "1.0.15"
dask = "2021.11.2"
distributed = "2021.11.2"
docker = "5.0.3"
docopt = "0.6.2"
fsspec = "2021.11.1"
google-api-core = "1.31.4"
google-auth = "1.35.0"
google-auth-oauthlib = "0.4.6"
google-cloud-bigquery = "2.30.1"
google-cloud-bigquery-storage = "1.1.0"
google-cloud-core = "2.2.1"
google-cloud-storage = "1.42.3"
google-crc32c = "1.3.0"
google-resumable-media = "2.1.0"
googleapis-common-protos = "1.53.0"
grpcio = "1.42.0"
HeapDict = "1.0.1"
idna = "3.3"
Jinja2 = "2.11.2"
locket = "0.2.1"
MarkupSafe = "2.0.1"
marshmallow = "3.14.1"
marshmallow-oneofschema = "3.0.1"
msgpack = "1.0.3"
mypy-extensions = "0.4.3"
oauthlib = "3.1.1"
packaging = "21.3"
pandas-gbq = "0.13.2"
partd = "1.2.0"
pendulum = "2.1.2"
proto-plus = "1.19.8"
protobuf = "3.19.1"
psutil = "5.8.0"
pyaml = "20.4.0"
pyarrow = "6.0.0"
pyasn1 = "0.4.8"
pyasn1-modules = "0.2.8"
pydata-google-auth = "1.2.0"
pymssql = "2.2.3"
pyparsing = "3.0.6"
python-box = "5.4.1"
python-dateutil = "2.8.2"
python-slugify = "5.0.2"
pytz = "2021.3"
pytzdata = "2020.1"
PyYAML = "6.0"
requests-oauthlib = "1.3.0"
rsa = "4.8"
"ruamel.yaml" = "0.17.10"
"ruamel.yaml.clib" = "0.2.6"
six = "1.16.0"
sortedcontainers = "2.4.0"
tabulate = "0.8.9"
tblib = "1.7.0"
text-unidecode = "1.3"
toml = "0.10.2"
tomlkit = "0.7.0"
toolz = "0.11.2"
tornado = "6.1"
tqdm = "4.50.2"
tweepy = "4.4.0"
urllib3 = "1.26.7"
websocket-client = "1.2.1"
zict = "2.0.0"

[tool.poetry.dev-dependencies]
pytest_cov = "^3.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
