basedosdados==1.6.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.8
ckanapi==4.6
click==8.0.3
docopt==0.6.2
google-api-core==1.31.4
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==2.30.1
google-cloud-bigquery-storage==1.1.0
google-cloud-core==2.2.1
google-cloud-storage==1.42.3
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.53.0
grpcio==1.42.0
idna==3.3
Jinja2==2.11.2
MarkupSafe==2.0.1
numpy==1.21.4
oauthlib==3.1.1
packaging==21.3
pandas==1.2.4
pandas-gbq==0.13.2
proto-plus==1.19.8
protobuf==3.19.1
pyaml==20.4.0
pyarrow==6.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydata-google-auth==1.2.0
pyparsing==3.0.6
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.3
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
six==1.16.0
text-unidecode==1.3
tomlkit==0.7.0
tqdm==4.50.2
tweepy==4.4.0
urllib3==1.26.7
