name: CI

on:
  pull_request:

jobs:
  tests:
    name: ${{ matrix.os }}${{ matrix.arch }} - Python ${{ matrix.python-version }} - tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        arch: [x64]
        python-version: ["3.9.x"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.arch }}
      - name: Set up Poetry and upgrade pip
        run: |
          pip install -U pip poetry
      - name: Install test dependencies
        run: |
          pip install --prefer-binary -r requirements-test.txt
      - name: Install GDAL for osgeo deps
        run: |
          curl -sSLo ./GDAL-3.4.1-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.whl https://sourceforge.net/projects/gdal-wheels-for-linux/files/GDAL-3.4.1-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.whl/download
          python -m pip install --no-cache-dir ./GDAL-3.4.1-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.whl
      - name: Install flows
        run: |
          pip install --prefer-binary .
      - name: Check if `prefect build` works
        run: |
          prefect build
      - name: Get changed files for code tree analysis
        id: files
        uses: Ana06/get-changed-files@v2.1.0
      - name: Perform code tree analysis
        id: code-tree-analysis
        continue-on-error: true
        run: |
          python .github/workflows/scripts/code_tree_analysis.py "${{ steps.files.outputs.all }}"
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: "${{ steps.code-tree-analysis.outputs.* }}"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run tests
        run: |
          pytest
