name: CI

on:
  pull_request:

jobs:
  tests:
    name: ${{ matrix.os }}${{ matrix.arch }} - Python ${{ matrix.python-version }} - tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        arch: [x64]
        python-version: ["3.9.x"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.arch }}
      - name: Set up Poetry and upgrade pip
        run: |
          pip install -U pip poetry
      - name: Install test dependencies
        run: |
          pip install --prefer-binary -r requirements-test.txt
      - name: Install flows
        run: |
          pip install --prefer-binary .
      - name: Check if `prefect build` works
        run: |
          prefect build
      - name: Run tests
        run: |
          pytest
